.DS_Store
node_modules/
/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

需求：

购菜报销账：
	票据：（张）
	日期、菜品、价格（元）、总计（元）、购买者（备注）、采购地点、主管签名
	合计：（元）

购菜登记：
	种类、单位、单价、数量、总价、合计、采买人员、备注

米面供给登记：
	来源：花钱买、菜地种、上级单位供给

供给品登记表：
	品名，数量，签收人及分配，备注

全年大米、食用油用量表：
	年份、日期、大米(斤)、面粉(斤)、油(升)、供养、备注

用餐签到表：

菜谱：
	月菜谱、周菜谱、活动a….z

活动：
	时间、早斋、午斋、晚斋

菜式制作：
	用料，做法

活动分工
	岗位描述：
1、	时间要求
2、	任务量化
3、	完成标准

组员：


临时员工分组登记表
	岗位描述：
4、	时间要求
5、	任务量化
6、	完成标准
组员：
	序号、姓名、年龄、联系方式、备注






